<template name="forgotPassword">
    <div class="three column stackable ui grid">
        <div class="column"></div>
        <div class="column">
            <form class="ui form segment">
                <h3 class="ui dividing header">Did you forget your password ?</h3>
                <div class="field">
                    <div class="left labeled ui icon input">
                        <input id="email" type="text" placeholder="Your email address" />
                        <i class="mail icon"></i>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui red fluid button">
                        <i class="bolt icon"></i>Reset password
                    </button>
                </div>
                <div class="field">
                    <a class="fluid ui button" href="{{pathFor 'signIn'}}">Return to sign in page</a>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</template>
