<template name="forgotPassword">
  {{> accountsPageError}}
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    {{#if passwordReseted}}
      <div class="alert alert-success">
        Check your mail ! <p>An email has been sended to {{passwordReseted}}</p>
      </div>
    {{else}}
      <div class="panel panel-default">
        <div class="panel-heading">
          Did you forget your password ?
          <hr />
        </div>
        <div class="panel-body">
          {{#autoForm schema=forgetPwdFormSchema id='forgetPwd'}}
            <fieldset>
              <div class='form-group{{#if afFieldIsInvalid name='email'}} has-error{{/if}}'>
                {{!afFieldLabel 'email'}}
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                  {{> afFieldInput name='email' placeholder='Your email' autofocus=''}}
                </div>
                {{#if afFieldIsInvalid name='email'}}
                  <span class='help-block'>{{afFieldMessage name='email'}}</span>
                {{/if}}
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block">
                    <i class="fa fa-bolt fa-fw"></i>&nbsp;Reset password
                </button>
              </div>
              <a class="btn btn-default btn-block" href="{{pathFor 'signIn'}}">
                  <i class="fa fa-sign-in fa-fw"></i>&nbsp;Sign In form
              </a>
            </fieldset>
          {{/autoForm}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
