<template name="resetPassword">
  {{> accountsPageError}}
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Reset your password
        <hr />
      </div>
      <div class="panel-body">
        {{#autoForm schema=resetPwdForm id='resetPwd'}}
          <fieldset>
            <div class='form-group{{#if afFieldIsInvalid 'password'}} has-error{{/if}}'>
              {{!afFieldLabel 'password'}}
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                {{afFieldInput 'password' type='password' placeholder='Your password' autofocus=''}}
              </div>
              {{#if afFieldIsInvalid 'password'}}
              <span class='help-block'>{{afFieldMessage 'password'}}</span>
              {{/if}}
            </div>

            <div class='form-group{{#if afFieldIsInvalid 'confirmPassword'}} has-error{{/if}}'>
              {{!afFieldLabel 'confirmPassword'}}
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                {{afFieldInput 'confirmPassword' type='password' placeholder='Confirm your password'}}
              </div>
              {{#if afFieldIsInvalid 'confirmPassword'}}
              <span class='help-block'>{{afFieldMessage 'confirmPassword'}}</span>
              {{/if}}
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-warning btn-block">
                <i class="fa fa-bolt fa-fw"></i>&nbsp;Set new password
              </button>
            </div>
          </fieldset>
        {{/autoForm}}
      </div>
    </div>

  </div>
</template>
