<template name="resetPassword">
    <div class="three column stackable ui grid">
        {{> accountsPageError}}
        <div class="column"></div>
        <div class="column">
            <form class="ui form segment">
                <h3 class="ui dividing header">Reset your password</h3>
                <div class="field">
                    <div class="left labeled ui icon input">
                        <input id="password" name="password" type="password" placeholder="Your new password" />
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="left labeled ui icon input">
                        <input id="retypePassword" name="retypePassword" type="password" placeholder="Retype your new password" />
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui red fluid button">
                        <i class="bolt icon"></i>Set new password
                    </button>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</template>
