<template name="resetPassword">
  <!-- {{> accountsPageError}} -->
  <div class="accounts-pages-form">
    <h1 class="title">crpm</h1>
    <span class="subtitle">Formations en management<br />et ressources humaines</span>

    {{#autoForm schema=resetPwdForm id='resetPwd'}}
      <fieldset>
        <div class='form-group{{#if afFieldIsInvalid name='password'}} has-error{{/if}}'>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            {{> afFieldInput name='password' type='password' placeholder='Your password' autofocus=''}}
          </div>
          {{#if afFieldIsInvalid name='password'}}
            <span class='help-block'>{{afFieldMessage name='password'}}</span>
          {{/if}}
        </div>

        <div class='form-group{{#if afFieldIsInvalid name='confirmPassword'}} has-error{{/if}}'>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            {{> afFieldInput name='confirmPassword' type='password' placeholder='Confirm your password'}}
          </div>
          {{#if afFieldIsInvalid name='confirmPassword'}}
          <span class='help-block'>{{afFieldMessage name='confirmPassword'}}</span>
          {{/if}}
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default btn-block">
            Set new password
          </button>
        </div>
      </fieldset>
    {{/autoForm}}

  </div>
</template>
