<template name="signIn">
  {{> accountsPageError}}
  <div class="accounts-pages-form">
    <h1 class="title">crpm</h1>
    <span class="subtitle">Formations en management<br />et ressources humaines</span>
    {{#autoForm schema=signInFormSchema id='signIn'}}
      <fieldset>
        <div class='form-group{{#if afFieldIsInvalid name='username'}} has-error{{/if}}'>
          {{!afFieldLabel 'username'}}
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            {{> afFieldInput name='username' placeholder="schemaLabel" autofocus=''}}
          </div>
          {{#if afFieldIsInvalid name='username'}}
            <span class='help-block'>{{afFieldMessage name='username'}}</span>
          {{/if}}
        </div>
        <div class='form-group{{#if afFieldIsInvalid name='password'}} has-error{{/if}}'>
          {{!afFieldLabel 'password'}}
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            {{> afFieldInput name='password' type='password' placeholder="schemaLabel"}}
          </div>
          {{#if afFieldIsInvalid name='password'}}
            <span class='help-block'>{{afFieldMessage name='password'}}</span>
          {{/if}}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-block" disabled="{{#if loggingIn}}true{{/if}}">
              {{#if loggingIn}}In process{{else}}Sign in{{/if}}
          </button>
        </div>
        <div class="text-center form-link">
          <a href="{{pathFor 'forgotPassword'}}">Password forgotten</a>
        </div>
      </fieldset>
    {{/autoForm}}
  </div>
</template>
