<template name="signUp">
    <div class="three column stackable ui grid">
        <div class="column"></div>
        <div class="column">
            <form class="ui form segment">
                <h3 class="ui dividing header">Create new Login</h3>
                <div class="field">
                    <div class="left labeled ui icon input">
                        <input id="username" name="username" type="text" placeholder="Your user name" />
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="left labeled ui icon input">
                        <input id="email" name="email" type="email" placeholder="Your email address" />
                        <i class="mail icon"></i>
                    </div>
                </div>
                <div class="field">
                    <div class="left labeled ui icon input">
                        <input id="password" name="password" type="password" placeholder="Your password" />
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui blue fluid button">
                        <i class="plus icon"></i>Sign up
                    </button>
                </div>
                <div class="field">
                    <a class="fluid ui button" href="{{pathFor 'signIn'}}">Return to sign in page</a>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</template>
