<template name="signUp">
  {{> accountsPageError}}
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sign Up informations
          <hr />
        </div>
        <div class="panel-body">

          {{#autoForm schema=signUpFormSchema id='signUp'}}
            <fieldset>
              <div class='form-group{{#if afFieldIsInvalid name='username'}} has-error{{/if}}'>
                {{!afFieldLabel 'username'}}
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                  {{> afFieldInput name='username' placeholder='Your username' autofocus=''}}
                </div>
                {{#if afFieldIsInvalid name='username'}}
                  <span class='help-block'>{{afFieldMessage name='username'}}</span>
                {{/if}}
              </div>

              <div class='form-group{{#if afFieldIsInvalid name='email'}} has-error{{/if}}'>
                {{!afFieldLabel 'email'}}
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                  {{> afFieldInput name='email' placeholder='Your email'}}
                </div>
                {{#if afFieldIsInvalid name='email'}}
                  <span class='help-block'>{{afFieldMessage name='email'}}</span>
                {{/if}}
              </div>

              <div class='form-group{{#if afFieldIsInvalid name='password'}} has-error{{/if}}'>
                {{!afFieldLabel 'password'}}
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                  {{> afFieldInput name='password' type='password' placeholder='Your password'}}
                </div>
                {{#if afFieldIsInvalid name='password'}}
                  <span class='help-block'>{{afFieldMessage name='password'}}</span>
                {{/if}}
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-block">
                    <i class="fa fa-plus fa-fw"></i>&nbsp;Sign up
                </button>
              </div>
              <a class="btn btn-default btn-block" href="{{pathFor 'signIn'}}">
                  <i class="fa fa-sign-in fa-fw"></i>&nbsp;Sign In form
              </a>
            </fieldset>
          {{/autoForm}}

        </div>
      </div>
  </div>
</template>
